<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:insert="/fragments/head :: head"></th:block>
    <script th:inline="javascript">
        $(document).ready(function ($) {
            var tr;
            var row;
            var id;

            /**
             *  TABLE
             * @type {jQuery}
             */
            var table = $("#individual").DataTable({
                ajax: "/individuals",
                stateSave: true,
                columns: [
                    {data: "id", title: "ID"},
                    {data: "name", title: "Họ tên"},
                    {data: "dob", title: "Ngày sinh"},
                    {data: "companyName", title: "Tên công ty"},
                    {data: "position", title: "Vị trí"},
                    {
                        data: null,
                        className: "center",
                        defaultContent:
                            "<div class=\"ui buttons\">\n" +
                            "  <button class=\"ui red button\" id =\"indi-delete\">Delete</button>\n" +
                            "  <div class=\"or\"></div>\n" +
                            "  <button class=\"ui positive button \" id='indi-detail'>Detail</button>\n" +
                            "</div>"
                    },
                ],
                columnDefs: [
                    {
                        className: 'dt-body-center'
                    }
                ]
            });
            var tableDoc = $("#individual-document").DataTable({
                ajax: "/indidocuments",
                stateSave: true,
                columns: [
                    {data: "id", title: "ID"},
                    {data: "docName", title: "Tên tài liệu"},
                    {data: "docCode", title: "Mã tài liệu"},
                    {
                        data: null,
                        className: "center",
                        defaultContent:
                            "<div class=\"ui buttons\">\n" +
                            "  <button class=\"ui red button\" id =\"indi-doc-delete\">Delete</button>\n" +
                            "  <div class=\"or\"></div>\n" +
                            "  <button class=\"ui positive button \">Detail</button>\n" +
                            "</div>"
                    }
                ]
            });


            /**
             * EVENT
             */
            $('.menu .item').tab();
            $('#accordion-add').accordion();
            $('#dropdown-doc-name').dropdown();
            $('#dropdown-doc-type').dropdown();
            // $("#modal-delete-mapping").modal('attach events','#modal-indi-detail');
            $("#modal-delete-mapping").modal({
                allowMultiple: false
            })
            $("#modal-indi-detail").modal('attach events', '#modal-delete-mapping');
            $('#date-of-execution')
            $('#date-of-signing')
            $.ajax({
                type: "GET",
                url: "/indidocuments",
                success: function (data) {
                    $.each(data.data, function (k, v) {
                        $("#doc-name-item").append('<div class=\"item\" data-value="' + v.id + '\">' + v.docName + '</div>')
                    });
                },
                error: function (status) {
                    console.log(status)
                }
            });

            $("button#add-user").click(function (e) {
                e.preventDefault();
                $('.ui.modal#create')
                    .modal('show').modal({
                    onDeny: function () {
                        return true;
                    },
                    onApprove: function () {
                        var request = {
                            "name": $("#name").val(),
                            "dob": $("#dob").val(),
                            "position": $("#position").val(),
                            "companyName": $("#company-name").val()
                        }
                        $.ajax({
                            url: "/individuals",
                            type: "POST",
                            data: JSON.stringify(request),
                            contentType: "application/json; charset=utf-8",
                            success: function (data, status) {
                                console.log("Success")
                                table.ajax.reload();
                                return true;
                            },
                            error: function (obj) {
                                return false;
                            }
                        })
                    }
                });
            })
            $("#individual").on("click", "button#indi-delete", function (e) {
                var tr = $(this).closest('tr');
                var row = table.row(tr);
                var id = row.data().id;
                e.preventDefault();
                $('.ui.modal#delete')
                    .modal('show').modal({
                    onDeny: function () {
                        return true;
                    },
                    onApprove: function () {
                        $.ajax({
                            url: "/individuals/" + id + "/delete",
                            type: "DELETE",
                            data: id,
                            success: function (data, status) {
                                tr.remove();
                                return true;
                            },
                            error: function (obj) {
                                return false;
                            }
                        })
                    }
                });
            })

            var tableDetail;
            $("#individual").on("click", "button#indi-detail", function (e) {
                var tr = $(this).closest('tr');
                var row = table.row(tr);
                var id = row.data().id;
                e.preventDefault();
                $('.ui.modal#indi-detail')
                    .modal('show', function () {
                        $("#id-detail").val(id)
                        $("#name-detail").val(row.data().name)
                        $("#dob-detail").val(row.data().dob)
                        $("#company-name-detail").val(row.data().companyName)
                        $("#position-detail").val(row.data().position)

                        tableDetail = $("#individual-document-detail").DataTable({
                            ajax: "/indimappings/individual?id=" + id,
                            stateSave: true,
                            columnDefs: [
                                {
                                    targets: [0],
                                    visible: false
                                }
                            ],
                            columns: [
                                {data: "id", title: "ID"},
                                {data: "docName", title: "Tên tài liệu"},
                                {data: "docType", title: "Loại tài liệu"},
                                {data: "dateOfExecution", title: "Ngày thực hiện"},
                                {data: "dateOfSigning", title: "Ngày công chứng"},
                                {data: "numOfDoc", title: "Số lượng tài liệu"},
                                // {data: "content", title: "Nội dung"},
                                {data: "note", title: "Note"},
                                {
                                    data: null,
                                    className: "center",
                                    defaultContent:
                                        "<div class=\"ui buttons\">" +
                                        "  <button class=\"ui red icon button\" id =\"indi-mapping-delete\"><i class='delete icon'></i></button>" +
                                        "  <div class=\"or\"></div>" +
                                        "  <button class=\"ui primary icon button \"><i class='edit icon'></i></button>" +
                                        "</div>"
                                }
                            ]
                        })
                    }).modal({
                    onApprove: function () {
                        $("#individual-document-detail").dataTable().fnDestroy();
                        $("#name-detail").prop('disabled', true)
                        $("#dob-detail").prop('disabled', true)
                        $("#company-name-detail").prop('disabled', true)
                        $("#position-detail").prop('disabled', true)
                        $("#confirm-update").prop('disabled', true)
                        return true;
                    }
                });
            })

            $("#enable-edit").on("click", function () {
                if ($("#confirm-update").prop('disabled')) {
                    $("#name-detail").prop('disabled', false)
                    $("#dob-detail").prop('disabled', false)
                    $("#company-name-detail").prop('disabled', false)
                    $("#position-detail").prop('disabled', false)
                    $("#confirm-update").prop('disabled', false)
                } else {
                    $("#name-detail").prop('disabled', true)
                    $("#dob-detail").prop('disabled', true)
                    $("#company-name-detail").prop('disabled', true)
                    $("#position-detail").prop('disabled', true)
                    $("#confirm-update").prop('disabled', true)
                }
            })
            $("#confirm-update").on('click', function () {
                var request = {
                    //TODO: Add data here
                    "name": $("#name-detail").val(),
                    "dob": $("#dob-detail").val(),
                    "companyName": $("#company-name-detail").val(),
                    "position": $("#position-detail").val()
                }

                $.ajax({
                    url: "/individuals/" + $("#id-detail").val() + "/edit",
                    type: "PATCH",
                    data: JSON.stringify(request),
                    contentType: "application/json; charset=utf-8",
                    success: function (data, status) {
                        $("#name-detail").prop('disabled', true)
                        $("#dob-detail").prop('disabled', true)
                        $("#company-name-detail").prop('disabled', true)
                        $("#position-detail").prop('disabled', true)
                        $("#confirm-update").prop('disabled', true)
                        table.ajax.reload();
                        return true;
                    },
                    error: function (obj) {
                        return false;
                    }
                })
            })


            $("#submit-add-mapping").on('click', function () {
                var request = {
                    "indiId": $("#id-detail").val(),
                    "docId": $("#dropdown-doc-name").dropdown('get value'),
                    "docName": $("#dropdown-doc-name").dropdown('get text'),
                    "docType": $("#doc-type").val(),
                    "dateOfExecution": $("#date-of-execution").val(),
                    "dateOfSigning": $("#date-of-signing").val(),
                    "numberOfDoc": $("#num-of-doc").val(),
                    "note": $("#doc-note").val()
                }
                console.log(request)
                $.ajax({
                    type: "POST",
                    url: "/indimappings/individual",
                    data: JSON.stringify(request),
                    contentType: "application/json; charset=utf-8",
                    success: function (data, status) {
                        tableDetail.ajax.reload();
                    },
                    error: function () {
                        alert("Lỗi khi thêm tài liệu liên quan")
                    }
                })
            })

            $("#individual-document-detail").on('click', "button#indi-mapping-delete", function (e) {
                console.log("delete mapping")
                e.preventDefault();
                var tr = $(this).closest('tr');
                var row = tableDetail.row(tr);
                var id = row.data().id;
                $("#modal-delete-mapping").modal('show').modal({
                    onApprove: function () {
                        $.ajax({
                            type: "DELETE",
                            url: "/indimappings/" + id + "/delete",
                            success: function () {
                                tableDetail.ajax.reload()
                            },
                            error: function () {
                                alert("ERROR deleting mapping")
                            }
                        })
                    },
                    onDeny: function () {
                        return true;
                    }
                })


            })


        })
    </script>
</head>
<body>

<div class="ui container">
    <th:block th:insert="/fragments/layout :: layout"></th:block>

    <div class="ui segment">

        <div class="ui two top large undetached buttons">
            <button class="ui red button" id="add-user">
                <i class="add user icon"></i>
                Thêm thông tin cá nhân
            </button>
            <div class="or"></div>
            <div class="ui olive large undetached button" id="add-doc">
                <i class="add book icon"></i>
                Thêm giấy tờ
            </div>
        </div>
        <div class="ui horizontal divider">
            DANH SÁCH CÁ NHÂN
        </div>

        <!--<div class="ui horizontal divider">-->
        <!--DANH SÁCH GIẤY TỜ-->
        <!--</div>-->
        <div class="ui top attached tabular menu">
            <a class="active item" data-tab="first">Danh sách thông tin cá nhân</a>
            <a class="item" data-tab="second">Danh sách giấy tờ, hồ sơ cá nhân</a>
        </div>
        <div class="ui bottom attached active tab segment" data-tab="first">
            <table class="ui red table" id="individual">
                <thead>
                <tr>
                    <th>Food</th>
                    <th>Calories</th>
                    <th>Protein</th>
                    <th>Protein</th>
                    <th>Protein</th>
                    <th>Action</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="ui bottom attached  tab segment" data-tab="second">
            <table class="ui olive table" id="individual-document">
                <thead>
                <tr>
                    <th>Food</th>
                    <th>Calories</th>
                    <th>Protein</th>
                    <th>Action</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <th:block th:insert="/fragments/modal :: modal-delete"></th:block>
    <th:block th:insert="/fragments/modal :: modal-create"></th:block>
    <th:block th:insert="/fragments/modal :: modal-indi-detail"></th:block>
    <th:block th:insert="/fragments/modal :: modal-delete-mapping"></th:block>
    <script th:inline="javascript">


    </script>
</div>
</body>
</html>