<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:insert="/fragments/head :: head"></th:block>
</head>
<body>

</body>

<div th:fragment="accor-new-mapping" class="ui styled fluid accordion" id="accordion-add">
    <div class="active title">
        <i class="dropdown icon"></i>
        Thêm giấy tờ liên quan
    </div>
    <div class="active content">
        <div class="ui horizontal divider">
            GIẤY TỜ LIÊN QUAN
        </div>
        <div class="ui equal width form">
            <div class="field">
                <label>Tên tài liệu</label>
                <div class="ui selection dropdown" id="dropdown-doc-name">
                    <!--<input type="hidden" name="docname">-->
                    <i class="dropdown icon"></i>
                    <div class="default text">Tên tài liệu</div>
                    <div class="menu" id="doc-name-item">
                        <div class="item" data-value="">--Select one--</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="default text">Loại tài liệu</div>
                <div class="ui input" id="doc-type">
                    <div class="ui input left icon">
                        <i class="bookmark icon"></i>
                        <input type="text" placeholder="Document type">
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="ui calendar">
                    <div class="default text">Date of execution</div>
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="date" id="date-of-execution" placeholder="Date">
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="default text">Date of signing</div>
                <div class="ui calendar">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="date" id="date-of-signing" placeholder="Date">
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="default text">Number of document</div>
                <div class="ui input">
                    <div class="ui input left icon">
                        <i class="number icon"></i>
                        <input type="number" id="num-of-doc" placeholder="Number of documents">
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="default text">Note</div>
                <div class="ui input">
                    <div class="ui input left icon">
                        <i class="bookmark icon"></i>
                        <input type="text" id="doc-note" placeholder="Note">
                    </div>
                </div>
            </div>

            <button class="positive ui button" id="submit-add-mapping">Thêm mới</button>

        </div>
    </div>
    <div class="title">
        <i class="dropdown icon"></i>
        Thêm loại giấy tờ
    </div>
    <div class="content">
        <p class="transition visible" style="display: block !important;">A dog is a type of domesticated animal. Known
            for its loyalty and faithfulness, it can be found as a welcome guest in many households across the
            world.</p>
    </div>
</div>
</html>