<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="/fragments/head :: head"></th:block>
</head>
<body>

</body>

<div th:fragment="accor-new-mapping" class="ui styled fluid accordion" id="accordion-add">
    <div class="active title">
        <i class="dropdown icon"></i>
       Thêm giấy tờ liên quan
    </div>
    <div class="active content">
        <div class="ui horizontal divider">
            GIẤY TỜ LIÊN QUAN
        </div>
        <div class="ui equal width form">
            <div class="field">
                <label>Tên tài liệu</label>
                <div class="ui selection dropdown" id="dropdown-doc-name">
                    <input type="hidden" name="docname">
                    <i class="dropdown icon"></i>
                    <div class="default text">Tên tài liệu</div>
                    <div class="menu" id="doc-name-item">
                        <div class="item" data-value="1">--Select one--</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Loại tài liệu</label>
                <div class="ui selection dropdown" id="dropdown-doc-type">
                    <input type="hidden" name="doctype">
                    <i class="dropdown icon"></i>
                    <div class="default text">Loại tài liệu</div>
                    <div class="menu" id="doc-type-item">
                        <div class="item" data-value="1">--Select one--</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="ui calendar" id="date-of-execution">
                    <div class="default text">Date of execution</div>
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="date" placeholder="Date">
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="default text">Date of signing</div>
                <div class="ui calendar" id="date-of-signing">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="date" placeholder="Date">
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="default text">Number of document</div>
                <div class="ui input" id="num-of-doc">
                    <div class="ui input left icon">
                        <i class="numbered icon"></i>
                        <input type="number" placeholder="Number of documents">
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="default text">Number of document</div>
                <div class="ui input" id="doc-note">
                    <div class="ui input left icon">
                        <i class="note icon"></i>
                        <input type="text" placeholder="Note">
                    </div>
                </div>
            </div>

            <button class="positive ui button" id="submit-add-mapping">Thêm mới</button>

        </div>
    </div>
    <div class="title">
        <i class="dropdown icon"></i>
        Thêm loại giấy tờ
    </div>
    <div class="content">
        <p class="transition visible" style="display: block !important;">A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
    </div>
</div>
</html>