<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>DeLibrary</title>
    <!--<script src="../../static/node_modules/jquery/dist/jquery.min.js" th:src="@{/node_modules/jquery/dist/jquery.min.js}"></script>-->
    <script src="../../static/node_modules/jquery/dist/jquery.min.js" th:src="@{/node_modules/jquery/dist/jquery.min.js}"></script>
    <script src="../../static/node_modules/datatables.net/js/jquery.dataTables.min.js" th:src="@{/node_modules/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script src="../../static/node_modules/datatables.net-se/js/dataTables.semanticui.min.js" th:src="@{/node_modules/datatables.net-se/js/dataTables.semanticui.min.js}"></script>
    <script src="../../static/semantic/dist/semantic.min.js" th:src="@{/semantic/dist/semantic.min.js}"></script>

    <link rel="stylesheet" type="text/css" href="../../static/semantic/dist/semantic.min.css" th:href="@{/semantic/dist/semantic.min.css}"/>
    <link href="../../static/node_modules/datatables.net-se/css/dataTables.semanticui.min.css" th:href="@{/node_modules/datatables.net-se/css/dataTables.semanticui.min.css}"/>
    <!--<link href="../../static/node_modules/jquery/dist/css/dataTables.semanticui.min.css" th:href="@{/node_modules/datatables.net-se/css/dataTables.semanticui.min.css}"/>-->
</head>
<body>

</body>
</html>